<!DOCTYPE html>
<html>

<head>
  <title>Event Scheduler</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Loding font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

  <!-- Custom Styles -->

  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
</head>

<body>

  <!-- Brand and toggle get grouped for better mobile display -->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a class="nav-link" style="color: #3d5e4c;" href="/">Home</a>
    </div>
  </nav>
  <!-- Header -->
  <header class="text-center" name="home">
    <div class="intro-text">
      <h1>Welcome to <strong>Event Scheduler</strong></h1>
      <p>A Smart Time and Location Planner for Group Events</p>
      <a href="/signup" class="btn btn-default btn-lg page-scroll">SIGN UP</a>
      <a href="/login" class="btn btn-default btn-lg page-scroll">LOGIN</a>
    </div>
  </header>



</body>

</html>